.header--container {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.header--content {
  padding: 0 10%;
}

.header--logo {}

.header--links {}

.header--btns {}

.header--btns>button {
  width: 120px;
}